 .navbar-brand img{
	width: 250px;
	/*float: left;*/
} 
.text h5{
	font-size: 50px;
}
.text p{
	font-size: 30px;
}
.carousel-item img{
	height: 100%;
}
.carousel-item{
	height: 600px;
}
.decor a{
	color: #7452DB;
	text-decoration: none;
}
.col-md-6 img{
	width: 100%;
}
.width{
	width: 30%;
}
.position{
	position: relative;
}
.faq-text{
	position: absolute;
	right: 5%;
	top: 40%;
	color: white;
}
.btn-primary{
	float: right;
	background-color: rgba(0,0,0,.5);
	border: 1px solid black;
}
.bgcolor{
	background-color: #457B9D;
}
.questions{
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-image: linear-gradient(to right, white ,transparent);
}
.questions span{
	padding: 15px;
} 
.nav-link{
	color: white;
}
.nav-pills a{
	padding: 25px;

}
.nav{
	background-color: #457B9D;
}
.border{
	border-top: 1px solid black;
}
.btn:hover{
  border: 1px solid #1D3557;
}
.d-flex p{
	font-size: 13px;
}
footer{
	background-color: #1D3557;
}
.white{
	color: white;
}
.ml-5 li{
	list-style-type:upper-roman;
}
.ml-5 a{
	color: white;
	text-decoration: none;
}
.mb-3{
	font-size: 20px;
}
.barcha{
	font-size: 12px;
}
.float-left a{
	color: black;
	text-decoration: none;
}
.float-right a{
	color: black;
	text-decoration: none;
}
.navbar-expand-lg{
z-index: 100;
	/*top: 0;*/
}
.changed-navbar{top:0;position:fixed;width:100%!important}
.changed-navbar .navbar-brand{width:100px;padding:0}